.searchBox {
  right: 22%;
  position: absolute;
  width: 170px;
  height: 20px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.MobileSearchBox {
  left: 30px;
  position: absolute;
  width: 340px;
  height: 20px;
  border-radius: 5px;
  top: 120px;
  transform: translateY(-50%);
}

.characterInfo p:first-child:hover {
  color: rgb(238,36,44);
}

.wrapperContainer .characterInfo:hover {
  cursor: default;
}

.suggestResults {
  right: 20%;
  position: relative;
  top: 120px;
}

.noResultsStyle {
  background-color: rgb(250,250,250);
  border: 1px solid rgb(216,216,216);
  border-radius: 6px;
  position: fixed;
  text-align: center;
}
.noResultsStyle h3{
  color: rgb(241,95,99);
}
.noResultsStyle p{
  color: rgb(90,102,128);
}

@media screen and (max-width:500px) {
  .characterInfo .characterdesc {
    display: none;
  } 
  .noResultsStyle {
    width: inherit!important;
  }
  .marvelLogo img{
    width: 149px!important;
    margin-left: 30%!important;
  }
  .menuIcon {
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px;

  }
  .menuIcon div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    border-radius: 20px;
  }
}
/* .loaderStyle {
  position: absolute;
  right:24%;
  padding-top: 5px;
} */

/* loader and animation */
.loader {
  right:24%;
  top: 50%;
  font-size: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.MobileLoader {
  left: 350px;
  top: 120px;
  font-size: 3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #080305, 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.5), -1.8em -1.8em 0 0em rgba(8,3,5, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.7), 1.8em -1.8em 0 0em #080305, 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.5), 1.8em -1.8em 0 0em rgba(8,3,5, 0.7), 2.5em 0em 0 0em #080305, 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.5), 2.5em 0em 0 0em rgba(8,3,5, 0.7), 1.75em 1.75em 0 0em #080305, 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.5), 1.75em 1.75em 0 0em rgba(8,3,5, 0.7), 0em 2.5em 0 0em #080305, -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.5), 0em 2.5em 0 0em rgba(8,3,5, 0.7), -1.8em 1.8em 0 0em #080305, -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.5), -1.8em 1.8em 0 0em rgba(8,3,5, 0.7), -2.6em 0em 0 0em #080305, -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.5), -2.6em 0em 0 0em rgba(8,3,5, 0.7), -1.8em -1.8em 0 0em #080305;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #080305, 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.5), -1.8em -1.8em 0 0em rgba(8,3,5, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.7), 1.8em -1.8em 0 0em #080305, 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.5), 1.8em -1.8em 0 0em rgba(8,3,5, 0.7), 2.5em 0em 0 0em #080305, 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.5), 2.5em 0em 0 0em rgba(8,3,5, 0.7), 1.75em 1.75em 0 0em #080305, 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.5), 1.75em 1.75em 0 0em rgba(8,3,5, 0.7), 0em 2.5em 0 0em #080305, -1.8em 1.8em 0 0em rgba(8,3,5, 0.2), -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.5), 0em 2.5em 0 0em rgba(8,3,5, 0.7), -1.8em 1.8em 0 0em #080305, -2.6em 0em 0 0em rgba(8,3,5, 0.2), -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.5), -1.8em 1.8em 0 0em rgba(8,3,5, 0.7), -2.6em 0em 0 0em #080305, -1.8em -1.8em 0 0em rgba(8,3,5, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(8,3,5, 0.2), 1.8em -1.8em 0 0em rgba(8,3,5, 0.2), 2.5em 0em 0 0em rgba(8,3,5, 0.2), 1.75em 1.75em 0 0em rgba(8,3,5, 0.2), 0em 2.5em 0 0em rgba(8,3,5, 0.2), -1.8em 1.8em 0 0em rgba(8,3,5, 0.5), -2.6em 0em 0 0em rgba(8,3,5, 0.7), -1.8em -1.8em 0 0em #080305;
  }
}


/* end of style for loader */